/*Style sheet for index.html, porfolio.html, and contact.html*/

body {
	margin:0;
	padding: 0;
	color: #777777;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	border: 5px;
	border-color: #dddddd;
}

header {
	background: #ffffff;
	border: 5px;
	border-color: #cccccc;
}

h1 {
	background: #4aaaa5;
	color: #ffffff;
	font-family: "Georgia", Times, "Times New Roman", serif;
}

footer {
	background: #666666;
}